.post {
    display: flex;
    align-items: center;
    margin: 1.5em 1em;
    box-shadow: -1px 0px 5px 5px #f4f5fa;
}

.post:hover .post__hover{
    opacity: 0.9;;
}

.post:hover .post__center {
    filter: opacity(25%);
}

.center__container {
  position: relative;
  text-align: center;
}

.post__hover {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    opacity: 0;
    transition: opacity .4s ease;
    background-color: #5fa1e1;
    padding-top: 70px;
}

.post__left {
    width: 1000px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post__left > span {
    /* display:block; */
    max-width:300px;
    word-wrap:break-word;
    white-space: normal
}

.post__left > i {
    font-size: large;
    color: #898ea2;
}

.post__left .post__timeStamp {
    font-weight: bold;
    white-space: pre;
    text-decoration: none;
}

.post__title {
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: pre;
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.post > div {
    margin-right: 20px;
}

.post__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.post__center .post__upVote {
    padding-top: 5px;
}

.post__center > img {
    border-radius: 5px;
    height: auto;
}

.post__right {
    width: 85%;
}

.post__right > h3 a {
    font-weight: 600;
    font-size: medium;
    color: #464855;
    padding: 5px 0;
}
